.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-image: url('../../../public/assets/images/login-bg.jpg') ;
    background-size: cover;
    
}
.wrapper{
    height: 500px;
    padding: 50px;
    backdrop-filter: blur(5px);
    border: 1px greenyellow solid;
    border-radius: 5px;
}

.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .app-name{
        display: flex;
        flex-direction: row;
        h2 {
            font-size: 40px;
            font-weight: 300;
            margin-bottom: 30px;
        }
        h3 {
            margin-left: 5px;
            color: blue;
            font-size: 40px;
            font-weight: 800;
            margin-bottom: 30px;
        }
    }
    p{
        font-weight: 300;
    }
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input{
        padding: 8px 10px;
        min-width: 300px;
        border: 2px solid #ccc;
        outline: none;
        border-radius: 8px;
    }
    p{
        color: red;
        font-style: italic;
    }
}

.submit {
    margin-top: 20px;
    background-color: blue;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}
.signup {
    margin-top: 10px;
    user-select: none;
    background-color: transparent;
    font-size: 15px;
    border: none;
    font-style: italic;
    color:blue;
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}